/* Settings Form */
#etsy-rhythm-form {
}

/* Settings Table */
.form-table {
}

/* Table rows */
.form-table tr {
}

/* Table cells */
.form-table tr td {
}

/* Settings Descriptions */
.description {
}

/* API Key OK */
.green {
	border: 2px solid green;
}

/* API Key Bad */
.red {
	border: 2px solid red;
}


.left {
	width: 50%;
	float: left;
}
.right {
	width: 50%;
	float: right;
}